PORT=8800

DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=thrills
JWT_SECRET=
JWT_REFRESH_SECRET=

CLIENT_URL=http://localhost:5173

REDIS_URL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=